<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table style="padding-top: 20px; padding-bottom: 20px">
      <tbody>
        <tr>
          <td style="padding-inline: 10px">
            <img
              src="https://ik.imagekit.io/techuptodate/Chemifeed-Logo.png?updatedAt=1712218891970"
              alt=""
              width="265px"
              height="auto"
            />
            <table>
              <tr>
                <td style="padding-bottom: 20px">
                  <span style="font-size: 8pt; color: blue; font-weight: bold"
                    >VAT Reg no:
                    <span
                      style="font-size: 8pt; font-weight: bold; color: black"
                      >4150259549</span
                    ></span
                  >
                  <span
                    style="
                      font-size: 8pt;
                      color: blue;
                      font-weight: bold;
                      padding-left: 5px;
                    "
                    >CIDB:
                    <span
                      style="font-size: 8pt; font-weight: bold; color: black"
                      >3ME PE</span
                    ></span
                  >
                  <span
                    style="
                      font-size: 8pt;
                      color: blue;
                      font-weight: bold;
                      padding-left: 5px;
                    "
                    >BEE:
                    <span
                      style="font-size: 8pt; font-weight: bold; color: black"
                      >Level 1</span
                    ></span
                  >
                </td>
              </tr>
            </table>
          </td>
          <td style="width: 1px; height: auto; background-color: black"></td>
          <td style="padding-inline: 10px;vertical-align: middle;">
            <span
              style="
                color: rgb(36, 36, 107);
                font-size: 25pt;
                font-weight: bold;
              "
              >Terry Mtshweni</span
            >
            <table>
              <tr>
                <td>
                  <span
                    ><img
                      src="https://ik.imagekit.io/techuptodate/Chemifeed-Phone.png?updatedAt=1712218891540"
                      alt=""
                      width="12"
                      height="12"
                      style="margin-top: 5px"
                  /></span>
                  <span
                    style="font-size: 8pt; font-weight: bold; padding-left: 3px"
                    >011 431 2112</span
                  >
                  <span style="padding-left: 30px"
                    ><img
                      src="https://ik.imagekit.io/techuptodate/Chemifeed-FAX.png?updatedAt=1712218891433"
                      alt=""
                      width="12"
                      height="12"
                      style="margin-top: 5px"
                  /></span>
                  <span
                    style="font-size: 8pt; font-weight: bold; padding-left: 3px"
                    >086 568 3515</span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    ><img
                      src="https://ik.imagekit.io/techuptodate/Chemifeed-Call.png?updatedAt=17122188915350"
                      alt=""
                      width="12"
                      height="12"
                      style="margin-top: 5px"
                  /></span>
                  <span
                    style="font-size: 8pt; font-weight: bold; padding-left: 3px"
                    >082 616 7936</span
                  >
                  <span style="padding-left: 30px"
                    ><img
                      src="https://ik.imagekit.io/techuptodate/Chemifeed-Website.png?updatedAt=1712218891564"
                      alt=""
                      width="12"
                      height="12"
                      style="margin-top: 5px"
                  /></span>
                  <span
                    style="font-size: 8pt; font-weight: bold; padding-left: 3px"
                    >www.chemifeed.co.za</span
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      style="background-color: rgb(36, 36, 107); height: 100px; width: 555px"
    >
      <tbody>
        <tr>
          <td
            colspan="2"
            style="color: white; font-weight: 700; padding-left: 10px;vertical-align: middle;"
          >
            <span style="font-size: 8pt">Chemifeed Dosing Technologies</span
            ><br />
            <span style="font-size: 8pt"
              >Unit 61 Roberville Industrial Park, 254 Nadine Street,
              Robertvilla, Roodepoort</span
            >
          </td>
          <td>
            <span style="text-align: end"
              ><img
                src="https://ik.imagekit.io/techuptodate/Chemifeed-logo-2.png?updatedAt=1712224599343"
                alt=""
                width="150px"
                height="auto"
                style="padding-left: 0px; padding-top: 5px"
            /></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
