<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KFC website</title>
  </head>
  <body>
    <header>
      <div class="container mx-auto w-full px-4">
        <nav class="flex justify-between items-center shadow-lg h-[78px]">
          <a href="" class="relative">
            <img src="./images/logo.svg" alt="" />
            <img
              src="./images/background.svg"
              alt=""
              class="absolute top-[20px] left-[45px]"
            />
          </a>
          <div class="collapes me-[40px]">
            <button type="button" class="hidden">X</button>
            <ul class="flex gap-[54px]">
              <li><a href="#"></a>Home</li>
              <li><a href="#"></a>About Us</li>
              <li><a href="#"></a>Projects</li>
              <li><a href="#"></a>Contact Us</li>
              <li><a href="#"></a>0787924419</li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <section>
      <div class="container w-full mx-auto px-4 ">
        <div class="relative w-full">
          <img src="./images/image-1.svg" alt="" class="w-full" />
          <img
            src="./images/layer.svg"
            alt=""
            class="w-full absolute top-0 z-10 bottom-0 left-0 right-0"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="container mx-auto px-4 w-full">
        <div class="relative">
          <img src="./images/image-2.svg" alt="" class="absolute">
        </div>
      </div>
    </section>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
