*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 20%;
    height: 30%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

   